	<header id="header">
				<div class="inner">
					<a href={% url 'index' %} class="logo">БаирБудалите</a>
					<nav id="nav">
						<a href={% url 'index' %}>Начало</a>
						<a href={% url 'pohodi' %}>Походи</a>
                        {% if not user.is_authenticated %}
                        <a href="{% url 'login' %}">Вход</a>
                        <a href="{% url 'register' %}">Регистрация</a>
                        {% else %}
                        <a href="{% url 'profile' user.id %}">Профил</a>
                        <a href="{% url 'logout view' %}">Излез</a>
                        {% endif %}
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>
    {% block content %}
    {% endblock %}
