{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>BairBudalite</title>
		<meta charset="utf-8" />
        <link rel="icon" href="{% static 'images/logo/logo.png' %}" type="image/icon type">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static '/assets/css/main.css'%}" />
        {% block extra %}
        {% endblock %}
	</head>
<body class="subpage">
{% include 'common/header.html' %}
{% block content %}
{% endblock %}
{% include 'common/footer.html' %}
</body>
</html>