<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Theory by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href={% url 'index' %} class="logo">БаирБудалите</a>
					<nav id="nav">
						<a href={% url 'index' %}>Home</a>
						<a href={% url 'pohodi' %}>Походи</a>
						<a href="elements.html">Снимки</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h1>Добре дошли в БаирБудалите</h1>
				<p>Това е нашият албум.</p>
			</section>

		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner">
					<div class="flex flex-3">
                        {% for pohod in pohodi %}
						<article>
							<header>
								<h3>{{ pohod.title }}<br /></h3>
							</header>
							<p>{{ pohod.description_small }}</p>
							<footer>
								<a href="#" class="button special">Прочети още</a>
							</footer>
						</article>
                        {% endfor %}
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style1 special">
				<div class="inner">
					<header>
						<h2>Топ Будалите</h2>
						<p>Подредени по походи</p>
					</header>
					<div class="flex flex-4">
                        {% for budala in budali %}
						<div class="box person">
							<div class="image round">
								<img src="{{ budala.image_src }}" alt="Person 1" />
							</div>
							<h3>{{ budala.name}}</h3>
							<p>{{ budala.pohodi }} похода.</p>
						</div>
                        {% endfor %}
					</div>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper special">
				<div class="inner">
					<header class="align-center">
						<h2>Последни клипове</h2>
						<p>Част от видео колекцията на Будалите</p>
					</header>
					<div class="flex flex-2">
						<article>
							<iframe width="640" height="360" src="https://www.youtube.com/embed/W4fejyIH7_E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</article>
						<article>
						<iframe width="640" height="360" src="https://www.youtube.com/embed/Al8IHywTusc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</article>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
							&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
						</div>
						<ul class="icons">
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
							<li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
							<li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/skel.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>

	</body>
</html>