{% extends 'base.html' %}
{% block content %}
		<!-- Banner -->
			<section id="banner">
				<h1>Добре дошли в БаирБудалите</h1>
				<p>Това е нашият албум.</p>
			</section>

		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner">
					<div class="flex flex-3">
                        {% for pohod in pohodi %}
						<article>
							<header>
								<h3>{{ pohod.title }}<br /></h3>
							</header>
							<p>{{ pohod.description|truncatechars_html:200  }}</p>
							<footer>
								<a href="{% url 'pohod' pohod.id %}" class="button special">Прочети още</a>
							</footer>
						</article>
                        {% endfor %}
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style1 special">
				<div class="inner">
					<header>
						<h2>Топ Будалите</h2>
						<p>Подредени по походи</p>
					</header>
					<div class="flex flex-4">
                        {% for budala in budali %}
						<div class="box person">
							<div class="image round">
								<img src="{{ budala.image_src }}" alt="Person 1" />
							</div>
							<h3>{{ budala.name}}</h3>
							<p>{{ budala.pohodi }} похода.</p>
						</div>
                        {% endfor %}
					</div>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper special">
				<div class="inner">
					<header class="align-center">
						<h2>Последни клипове</h2>
						<p>Част от видео колекцията на Будалите</p>
					</header>
					<div class="flex flex-2">
						<article>
							<iframe width="640" height="360" src="https://www.youtube.com/embed/W4fejyIH7_E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</article>
						<article>
						<iframe width="640" height="360" src="https://www.youtube.com/embed/Al8IHywTusc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</article>
					</div>
				</div>
			</section>
    {% include 'common/scripts.html' %}
{% endblock %}