{% extends 'base.html' %}
{% block content %}
			<header id="header">
				<div class="inner">
					<a href={% url 'index' %} class="logo">БаирБудалите</a>
					<nav id="nav">
						<a href={% url 'index' %}>Home</a>
						<a href={% url 'pohodi' %}>Походи</a>
						<a href="elements.html">Снимки</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>
    <div class="inner">
        <header class="align-center">
            <h2>{{pohod.title}}</h2>
            <p>{{ pohod.description_small }}</p>
        </header>
        <div class="box alt">
            <div class="row 50% uniform">
                {% for image in images %}
                <div class="4u"><span class="image fit"><img src="{{ image.image }}" alt="" /></span></div>
                {% endfor %}
            </div>
        </div>
        <form method="POST">
            <div class="12u$">
                {% csrf_token %}
                {{ form.comment }}
            </div>
            <div class="12u$">
                <ul class="actions">
                    <li><input type="submit" value="Изпрати" /></li>
                </ul>
            </div>
        </form>
        {% for com in comment %}
        <div class="box">
            <p>{{ com.comment }}</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}