{% extends 'base.html' %}
{% load static %}
{% block extra %}
<link rel="stylesheet" href="{% static 'assets/css/gallery_css.css'%}" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
{% endblock %}
{% block content %}
    <div class="inner">
        <header class="align-center">
            <h2>{{pohod.title}}</h2>
            <p>{{ pohod.description }}</p>
        </header>
    <div class="container">
          {% for img, num in images.items %}
          <div class="mySlides">
            <div class="numbertext">{{num}} / {{ all }}</div>
              <img src="{{ img.image }}" style="width:100%">
          </div>
          {% endfor %}
          <!-- Next and previous buttons -->
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
       </div>
    </div>
        {% if user.is_authenticated %}
        <form method="POST">
            <div class="12u$">
                {% csrf_token %}
                {{ form.comment }}
            </div>
            <div class="12u$">
                <ul class="actions">
                    <li><input type="submit" value="Изпрати" /></li>
                </ul>
            </div>
        </form>
        {% endif %}
        {% for com in comment %}
        <div class="box">
            <img class="resize" src="{{ com.user_profile.profile_picture.build_url }}">
            <a href="{% url 'profile' com.user_profile.user_id %}" >{{ com.user_profile.user.username }}</a>
            <p>{{ com.comment }}</p>
            {% if user.id == com.user_profile.user_id %}
            <a  href="{% url 'delete comment' com.id %}" class='btn-danger'>Изтрий коментара</a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
<script src="/static/assets/js/gallery.js"></script>
{% endblock %}
