{% extends 'base.html' %}
{% load static %}
{% block extra %}
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="{% static '/assets/css/auth/profile.css'%}" />
{% endblock extra %}
{% block content %}
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-xl-6 col-md-12">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25"> <img src="/media/{{ profile.profile_picture }}" class="img-radius" alt="User-Profile-Image"> </div>
                                <h6 class="f-w-600">{{ profile.user.username }}</h6>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card-block">
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Информация</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Email</p>
                                        <h6 class="text-muted f-w-400">{{ profile.user.email }}</h6>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">За мен:</p>
                                    <form method="POST">
                                    <div class="12u$">
                                            {% csrf_token %}
                                            {{ form.description }}
                                    </div>
                                    <input type="submit" value="Запази"/>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}