{% extends 'base.html' %}
{% load static %}
    {% block extra %}
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/auth/style.css' %}"/>
    {% endblock extra %}
</head>
{% block content %}
	<div class="page-content">
		<div class="form-v5-content">
			<form class="form-detail" method="post" enctype="multipart/form-data">
                {% csrf_token %}
				<h2>Вход</h2>
				<div class="form-row">
                    <label for="name">Username</label>
					{{ form.username }}
				</div>
				<div class="form-row">
                    <label for="password">Password</label>
					{{ form.password }}
				</div>
				<div class="form-row-last">
					<input type="submit" name="register" class="register" value="Login">
                    <h6>или се </h6>
                    <a href="{% url 'register' %}">Регистрирай</a>
				</div>
			</form>
		</div>
	</div>
{% endblock content %}